/*RESETS*/
*{margin:0; padding:0}
*{-webkit-print-color-adjust: exact;}
#clear {clear:both;}

/*BOX - DIV PRINCIPAL*/
#box-print {margin:10px auto; width:800px;}

table {border:1px solid #000; width:800px; border-right:0; border-bottom:0; float:left; margin:20px 0 0 0}
table td {border:1px solid #000; border-left:0; border-top:0;}
table .titulo {font:14px Arial, Helvetica, sans-serif; font-weight:bold; color:#333; height:30px; text-align:center;}
table .subtitulo {font:12px Arial, Helvetica, sans-serif; font-weight:bold; color:#333; height:20px; text-align:center;}
table .mostra_dia {font:14px Arial, Helvetica, sans-serif; font-weight:bold; color:#333; height:20px; text-align:center;}
.marca_dia {background-color:#ccc;}
.print {float:right; background-color:#ECF3E1; width:75px; height:18px; margin:10px 0; border:2px inset #060; padding:7px 0; text-align:center;}
.print a {text-decoration:none; font:12px Tahoma, Geneva, sans-serif; color:#060; font-weight:bold; display:block; height:32px; width:75px;}
.print:hover {border:2px outset #060;}
.print-vazio {float:left; width:800px; margin:10px auto; border:1px solid #900; background-color:#FFD9D9;}
.print-vazio h1 {float:left; font:15px Tahoma, Geneva, sans-serif; color:#900; font-weight:bold; padding:10px;}
.print-vazio h1 a {font:13px Tahoma, Geneva, sans-serif; color:#F60; padding:10px; margin-top:15px auto; text-decoration:none;}
.print-vazio h1 a:hover {text-decoration:underline;}
table .finalsemana {font:12px Tahoma, Geneva, sans-serif; color:#333; text-align:center;}

h1{font:16px Arial, Helvetica, sans-serif; color:#000; float:left; font-weight:bold; display:block; width:780px; padding:5px; text-align:center;}
h2{font:14px Arial, Helvetica, sans-serif; color:#000; float:left; font-weight:bold; display:block; width:780px; padding:5px; text-align:center;}
h3{font:14px Arial, Helvetica, sans-serif; color:#000; float:left; display:block; width:780px; padding:8px; margin:10px 0 0 0;}
h4{font:16px Tahoma, Geneva, sans-serif; color:#000; float:left; margin:60px 0 0 0;}
h5{font:16px Tahoma, Geneva, sans-serif; color:#000; float:right; margin:53px 0 0 0;}
h6{font:16px Tahoma, Geneva, sans-serif; color:#000; float:right; margin:0 0 75px 0; display:block; width:800px; text-align:right;}
h6 span{font:12px Tahoma, Geneva, sans-serif; color:#000; float:right; margin:-70px 0 0 0; display:block; width:800px; text-align:right;}

