/*RESETS*/
*{margin:0; padding:0}
*{-webkit-print-color-adjust: exact;}
#clear {clear:both;}

/*BOX - DIV PRINCIPAL*/
#formulario {margin:10px auto; width:600px; height:900px; text-align:center;}
#formulario img {margin:1px auto;}

.num_guia {border:1px solid #000; width:160px; float:right; margin:2px 5px; text-align:left; background-color:#E0E0E0;}
.num_guia .guia {font:10px Arial, Helvetica, sans-serif; color:#000; float:right; font-weight:bold; padding:5px;}
.num_guia .guia b {font:13px Arial, Helvetica, sans-serif; font-weight:bold; padding:4px 2px;}
.num_guia .ano {font:9px Arial, Helvetica, sans-serif; color:#000; float:right; font-weight:bold; padding:5px; border-top:1px solid #000; background-color:#e0e0e0;}
.chefia {width:140px; float:left; height:25px; padding-top:15px; text-align:center; font-size:10px;}
.solicitante {width:155px; float:left; margin-left:80px; height:25px; padding-top:15px; text-align:center; font-size:10px;}
.dap {width:185px; float:left; height:25px; padding-top:25px; text-align:center; font-size:10px;}
.dap .descreve_dap {font:8px Tahoma, Geneva, sans-serif; color:#000;}
.responsavel {width:185px; float:right; margin-right:-225px; margin-top:15px; height:80px; padding-top:15px; text-align:center; font-size:10px;}
.responsavel .img_assinatura {width:155px; margin:-30px 0 0 10px; z-index:999; position:absolute;}
.responsavel .img_assinatura img {width:155px;}
.responsavel .descreve_resp {font:8px Tahoma, Geneva, sans-serif; color:#000;}
.responsavel .listaAssinatura {color:#000; margin:0;}

.bloco1 {float:left; text-align:justify;}
.bloco2 {float:left; text-align:justify; margin-top:25px;}

table {border:1px solid #666; width:590px; border-right:0; border-bottom:0; float:left; margin-left:5px; margin-top:15px;}
table td {border:1px solid #666; border-left:0; border-top:0; height:10px; font:10px Tahoma, Geneva, sans-serif; padding-left:3px; height:17px;}
table .long_text {height:50px; padding-left:10px;}
table .campos {width:120px; background-color:#E0E0E0;}
table .campos_r {width:100px; background-color:#E0E0E0;}
table .dados {width:260px; background-color:#FFF;}
table .dados_r {width:110px; background-color:#FFF;}
table .titulo {font:14px Arial, Helvetica, sans-serif; font-weight:bold; color:#333; height:30px; text-align:center;}
table .subtitulo {font:12px Arial, Helvetica, sans-serif; font-weight:bold; color:#333; height:20px; text-align:center;}
table .mostra_dia {font:14px Arial, Helvetica, sans-serif; font-weight:bold; color:#333; height:20px; text-align:center;}
table .cabecalho_1 {background-color:#E0E0E0; height:30px; font-size:10px; font-weight:bold;}
table .cabecalho_2 {background-color:#CCC; font-size:10px;}
table .motorista {background-color:#FFF; font-size:10px;}
table .combustivel {background-color:#CCC; height:30px; font-weight:bold; font-size:11px;}
table .dados {height:10px; font:11px;}
table .observacoes {height:50px; font-size:10px; font-weight:bold; padding:0; text-align:left;}
.marca_dia {background-color:#ccc;}
.print {float:left; background-color:#063; width:60px; height:18px; margin:10px 0 10px 6px; border:1px inset #066; padding:5px 0; text-align:center;}
.print a {text-decoration:none; font:12px Tahoma, Geneva, sans-serif; color:#FFF; font-weight:normal; display:block; height:22px; width:60px;}
.print:hover {border:1px outset #030;}
.print-vazio {float:left; width:800px; margin:10px auto; border:1px solid #900; background-color:#FFD9D9;}
.print-vazio h1 {float:left; font:15px Tahoma, Geneva, sans-serif; color:#900; font-weight:bold; padding:10px;}
.print-vazio h1 a {font:12px Tahoma, Geneva, sans-serif; color:#F60; padding:10px; margin-top:15px auto; text-decoration:none;}
.print-vazio h1 a:hover {text-decoration:underline;}
table .finalsemana {font:12px Tahoma, Geneva, sans-serif; color:#333; text-align:center;}

h1{font:16px Arial, Helvetica, sans-serif; color:#000; float:left; font-weight:bold; display:block; width:580px; padding:5px; text-align:center;}
h2{font:10px Arial, Helvetica, sans-serif; color:#000; float:left; font-weight:bold; display:block; width:580px; padding:2px 5px; text-align:center;}
h3{font:10px Arial, Helvetica, sans-serif; color:#000; float:left; font-weight:bold; display:block; width:580px; padding:15px 8px; font-weight:bold;}
h4{font:12px Arial, Helvetica, sans-serif; color:#333; margin:15px 5px;}
h5{font:10px Arial, Helvetica, sans-serif; color:#333; float:left; margin:30px 0 10px 5px; line-height:15px;}
h6{font:bold 11px Arial, Helvetica, sans-serif; color:#333; float:left; margin:30px 0 -10px 5px; line-height:15px;}

#guia_nAutorizada {margin:0 auto; border:1px solid #900; width:100%; height:100px; background-color:#900;}
#guia_nAutorizada h3 {font:16px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#FFF; position:absolute; top:2%; left:35%;}
#guia_nAutorizada h4 {font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#FFF;}
#guia_nAutorizada h4 a {font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#FFF; text-decoration:none; position:absolute; top:10%; left:47%}
#guia_nAutorizada h4 a:hover {text-decoration:underline;}